.detailsContainer {
  height: 50%;
  max-height: 70%;
  padding-left: 1rem;
  margin-top: 3rem;
  transition: all 0.4s;
  max-width: 100%;
}
.description {
  padding-right: 2rem;
  overflow-y: scroll;
  color: rgb(207, 207, 207);
  font-size: 0.9rem;
  max-height: 100%;
}
.description a {
  color: rgb(39, 157, 255);
}
.description::-webkit-scrollbar {
  width: 10px;
}
.description::-webkit-scrollbar-track {
  background: transparent;
}

.description::-webkit-scrollbar-thumb {
  height: 10px;
  background: rgb(39, 157, 255);
  border-radius: 10px;
}
